@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: #000000;
    background-image: url(imagens/fundo.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 80%;
    transition: background 0.5s linear;
}
input[type="checkbox"]{
    display: none;
}

.header{
    display: flex;
    flex-direction: row; /*direção em linha*/ 
    align-items: center;
    justify-content: space-around; /*espaço entre os itens*/
    font-size: 25px;
    padding: 15px; /*espaço dos itens para o topo da página*/
}

.header-img-logo{
    height: 55px;
    cursor: pointer;
}
.header-nav-img-modo-claro{
    height: 30px;
    cursor: pointer;
}
.header-nav-img-modo-escuro{
    display: none;
}
.header-nav{
    display: flex;
    gap: 40px;/*espaço entre as coisas*/
}
.header-nav-a{
    font-family: 'Aldrich', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
.header-nav-a:hover{
    color: #6A006C;
}
.main{
    margin-bottom: 55px;
    border-top: 2px solid #6A006C;
}
.main{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Aldrich', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 0%;
    font-weight: 400px;
    color: #FFFFFF;
}

.main-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-div-h1{
    font-size: 50px;
}
.main-div-h2{
    font-size: 30px;
}
.main-div-h3{
    padding-top: 2rem;
    font-size: 25px;
}
.texto{
    width: 40rem;
}
body.dark{
    background-color: #FFFFFF;
}
.dark .header-nav-a:hover{
    color: #6A006C;
}
.dark .header-nav-img-modo-claro{
    display:none;
}
.dark .header-nav-img-modo-escuro{
    display: block;
    height: 30px;
    cursor: pointer;
}
.dark .header-nav-a{
    color: #000000;
}
.dark .main{
    color:#000000;
}