@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url(../Portfólio/imagens/fundo.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.header{
    display: flex;
    flex-direction: row; /*direção em linha*/ 
    align-items: center;
    justify-content: space-around; /*espaço entre os itens*/
    font-size: 25px;
    padding: 15px; /*espaço dos itens para o topo da página*/
}

.header-img-logo{
    height: 55px;
}

.header-nav-img-modo-claro{
    height: 30px;
}

.header-nav{
    display: flex;
    gap: 40px;/*espaço entre as coisas*/
}

.header-nav-a{
    font-family: 'Aldrich', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
.header-nav-a:hover{
    color: #6A006C;
}
.main{
    margin-bottom: 55px;
    border-top: 2px solid #6A006C;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Aldrich', sans-serif;
    padding: 150px;
    font-weight: 400px;
    color: #FFFFFF; 
}

.main-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-div-h1{
    font-size: 50px;
}

.main-div-h2{
    font-size: 30px;
}

.main-button{
    background-color: #450482;
    width: 270px;
    height: 80px;
    font-size: 50px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 400px;
    color: #FFFFFF; 
    border-style:solid;
    border-width:2px;
    border-color: #C39BE8;
    border-radius: 25px;
}
.main-button:hover{/*mudar o estilo ao passar o mause por cima*/
    background-color: #C39BE8;
    border-color: #450482;
    color: #000000;
}
.main-div-h3{
    font-size: 25px;
}