@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: #000000;
    background-image: url(imagens/fundo.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 80%;
    transition: background 0.5s linear;
}
input[type="checkbox"]{
    display: none;
}
.header{
    display: flex;
    flex-direction: row; /*direção em linha*/ 
    align-items: center;
    justify-content: space-around; /*espaço entre os itens*/
    font-size: 25px;
    border-bottom: 2px solid #6A006C;
    padding: 15px; /*espaço dos itens para o topo da página*/
}
.header-img-logo{
    height: 55px;
    cursor: pointer;
}
.header-nav-img-modo-claro{
    height: 30px;
    cursor: pointer;
}
.header-nav-img-modo-escuro{
    display: none;
}
.header-nav{
    display: flex;
    gap: 40px;/*espaço entre as coisas*/
}
.header-nav-a{
    font-family: 'Aldrich', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
.header-nav-a:hover{
    color: #6A006C;
}
.main{
    margin-bottom: 55px;

}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Aldrich', sans-serif;
    padding: 150px;
    padding-bottom: 0;
    font-weight: 400px;
    color: #FFFFFF; 
    margin-bottom: 0;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    
    align-content: center;
}
.main-button1{
    background-color: #29034D;
    transition: color .7s;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 4px;
    color: #FFFFFF; 
    border-style:solid;
    border-width:2px;
    border-color: #D9D9D9B2;
    border-bottom-left-radius: 25px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.main-button1:hover{/*mudar o estilo ao passar o mause por cima*/
    background-color: #C39BE8;
    border-color: #450482;
    color: #000000;
}
.main-button2{
    background-color: #29034D;
    transition: color .7s;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 4px;
    color: #FFFFFF; 
    border-style:solid;
    border-width:2px;
    border-color: #D9D9D9B2;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.main-button2:hover{/*mudar o estilo ao passar o mause por cima*/
    background-color: #C39BE8;
    border-color: #450482;
    color: #000000;
}
.main-button{
    background-color: #29034D;
    width: 25rem;
    height: 15rem;
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 4px;
    color: #FFFFFF; 
    border-style:solid;
    border-width:2px;
    border-color: #D9D9D9B2;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}
.code,
.eyes{
    width: 2rem;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: space-between;
}
.main-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img{
    width: 24.8rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-top: 0%;
}
.main-div-h1{
    font-size: 50px;
}
.main-div-h2{
    font-size: 30px;
}
body.dark{
    background-color: #FFFFFF;
}
.dark .header-nav-a:hover{
    color: #6A006C;
}
.dark .header-nav-img-modo-claro{
    display:none;
}
.dark .header-nav-img-modo-escuro{
    display: block;
    height: 30px;
    cursor: pointer;
}
.dark .header-nav-a{
    color: #000000;
}
.dark .main{
    color:#000000;
}
.dark .main-button1{
    background-color: #C39BE8 ;
    color: #000000; 
    border-color: #450482;
    transition: background 0.5s linear;
}
.dark .main-button1:hover{/*mudar o estilo ao passar o mause por cima*/
    background-color: #450482;
    border-color: #C39BE8;
    color: #ffffff;
}
.dark .main-button2{
    background-color: #C39BE8 ;
    color: #000000; 
    border-color: #450482;
    transition: background 0.5s linear;
}
.dark .main-button2:hover{/*mudar o estilo ao passar o mause por cima*/
    background-color: #450482;
    border-color: #C39BE8;
    color: #ffffff;
}
.dark .main-button{
    background-color: #C39BE8 ;
    color: #000000; 
    border-color: #450482;
 
}